*{
    background-color: rgb(218, 207, 150);
}

.header{
    text-align: center;
    border-bottom: 2px black solid;
    
}

.image img{
    padding: 20px;
    border: solid black 1px;
    margin-top: 10px;
    display: flexbox;
    flex-wrap: wrap;
    flex-basis: 25%;
    justify-content: space-between;
}